@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.glowing-border:focus {
  box-shadow: 0 0 10px #9ecaed;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
}

.special-heading {
  font-family: "Chewy", cursive;
}

.note {
  font-family: "Patrick Hand", cursive;
} */
