@font-face {
  font-family: "KGPrimaryPenmanship";
  src: url("../src/assets/fonts/KGPrimaryPenmanship.ttf");
}

@font-face {
  font-family: "Happy";
  src: url("../src/assets/fonts/Happy\ Personal\ Use.otf");
}

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Page heading */
  --font-chewy: "Chewy", sans-serif;
  /* Para */
  --font-fredoka: "Fredoka", sans-serif;
  /* Cancel */
  --font-pacifico: "Pacifico", sans-serif;
  /* Sub headings */
  --font-patrickHand: "Patrick Hand", sans-serif;
  /* Backup */
  --font-poppins: "Poppins", sans-serif;
  /* Primary penmanship */
  --font-kgPrimaryPenmanship: "KGPrimaryPenmanship", sans-serif;
  /* Happy */
  --font-happy: "Happy", sans-serif;
}

@custom-variant dark (&:is(.dark *));

.glowing-border:focus {
  box-shadow: 0 0 10px #9ecaed;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
}

.special-heading {
  font-family: "Chewy", cursive;
}

.note {
  font-family: "Patrick Hand", cursive;
} */
